.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.carousel-inner {
    max-height: 800px;
}

.move-up-on-hover {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: transform 0.5s ease;
}

.move-up-on-hover:hover,
.move-up-on-hover:active {
    transform: translateY(-5px);
}